body {
    margin: 0;
    background:linear-gradient(#21C08B, #8F57FF);
    font-family: 'Muli', sans-serif;
    overflow-x: hidden;
}

.header {
    /* background-color: #8F57FF; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Arquitectura CSS tipo BEM "block__element--modify" */
.header__img {
    width: 200px;
    margin-left: 30px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    display: flex;
    align-items: center;
}

.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
    height: 40px;
    filter: invert(1);
}

.header__menu--profile p{
    margin: 0px;
    color: white;
}

.main {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    color: white;
    font-size: 25px;
}

.categories__title {
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}

.input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
}

/* Cambiamos de color el placeholder del buscador */
::placeholder {
    color: white;
}

.carousel {
    width: 100%;
    overflow: scroll;
    padding-left: 30px;
    position: relative;
}

.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    
}

.carousel-item {
    background-color: palegreen;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    /* Transition indica el tiempo en el que dura la transicion */
    transition: 450ms;
    /* transform-origin indica donde será el origen de la transformacion que en este caso es
    del centro izquierda  */
    transform-origin: center left;
    position: relative;
}

/* Al hacer hover sobre un item, todos los demás se desplazan 100px hacia la derecha
con translate3d. La birguliña indica que va a afectar a todos los elementos preceden
de este elemento al que se le hizo hover.
Es decir a todos los HERMANOS directos del elemento. */
.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}

/* Se opacan todos los elementos cuando hacemos hover en el contenedor */
.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

/* Como todos estan opacos al posicionarnos sobre el contenedor y luego nos posicionamos sobre
el item, ese item en especifico es el que va a recibir la transformacion de scale y a 
aumentar su opacidad */
.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    width: 200px;
    height: 250px;

    /* Para que la imagen original no se deforme al modificar las medidas */
    object-fit: cover;
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    font-size: 12px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;

    /* Recuerda que la transicion siempre la debemos de poner en el elemento
    que va a sufrir la transicion */
    transition: 450ms opacity;
}

.carousel-item:hover .carousel-item__details{
    opacity: 1;
}

.carousel-item__details--icon {
    width: 25px;
    height: 25px;
}

.carousel-item__details--title {
    margin: 5px 0px 0px 0px;
}

.carousel-item__details--subtitle {
    margin: 5px 0px 0px 0px;
    font-size: 10px;
}

.footer {
    background-color: #8F57FF;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}